!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyFirstAppExtra
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      %div.header__title
        = link_to root_path , class: "header__title--text" do 
          MyFirstAppExtra
      %div.header__right
        = link_to new_post_path , class: "header__right--btn" do 
          新規投稿
    %div.contents
      = yield
