!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyFirstAppExtra
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag('/inufavicon.png') 
  %body
    %header.header
      %div.header__title
        = link_to root_path , class: "header__title--text" do 
          %span.material-icons.md-24 pets
          MyFirstAppExtra
      - if user_signed_in?
        %div.header__right
          = link_to current_user.nickname, user_path(current_user), class: "header__right--btn"
          = link_to new_post_path , class: "header__right--btn" do 
            新規投稿
          = link_to destroy_user_session_path , method: :delete, class: "header__right--btn" do 
            ログアウト
      - else
        %div.header__right
          = link_to new_user_session_path , class: "header__right--btn" do 
            = image_tag "icon/baseline_account.png", alt: "AccountIcon", class: "AccountIcon"
            ログイン
          = link_to new_user_registration_path , class: "header__right--btn" do 
            = image_tag "icon/baseline_create.png", alt: "CreateIcon", class: "CreateIcon"
            新規登録
    %div.contents
      = yield
    %div.Footer
      %div.Footer__Link
        = link_to root_path, class:"Logo" do
          = image_tag "logo/inu-icon.png", alt: "DogIcon"
        %p  © N-Tomomi
    %div.InuFixed#Inutarget
      = link_to root_path , class:"InuFixed" do
        %span 訪問ありがとう
        = image_tag "logo/inu-icon.png", alt: "InuFixed"